.navb{

   overflow: hidden;
}
.container{
    width: 100%;
}
.allsides
    {
     
      background-color: white;
      box-shadow:  0 0 10px  rgba(46, 46, 46, 0.6);
      -moz-box-shadow: 0 0 10px  rgba(53, 53, 53, 0.6);
      -webkit-box-shadow: 0 0 10px  rgba(53, 53, 53, 0.6);
      -o-box-shadow: 0 0 10px  rgba(41, 41, 41, 0.6);
      border-radius:20px;
    }

.navbrand{
    font-size: 3vw;
    color: #21afb8; 
    cursor: pointer
    

}


.left, .right {

    height:70vh;
    width:100%;
    padding:5%;

}

@media screen and (min-width:768px){

    .left, .right {

        height:70vh;
    
    }

}